page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    font-family: LineIcons;
    content: "\ea5c";
    font-size: 12px;
    line-height: 27px;
}
